.login-box,
.register-box {
    width: 400px;
    height: 100%
}

.skin-blue .main-header .navbar {
    background-color: #281564
}

.main-footer {
    background: #bf9f62;
    color: #fff
}

.back {
    background: #fff
}

.bg-image-full {
    background: no-repeat 50% scroll;
    background-size: cover;
    -o-background-size: cover
}

.attachment {
    border-radius: 3px;
    background: #f4f4f4;
    padding: 10px
}